# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# Environment Variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# Python cache
.pytest_cache/
.mypy_cache/

# Build files
build/
dist/

# Temporary files
*.tmp
*.temp